/* General */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Navigation Bar */

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 6px;
}
.top-links {
  display: flex;
  padding-right: 15px;
}
.gm-im {
  padding-left: 15px;
  font-size: 13px;
}

.apps-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
  padding: 12px;
  opacity: 0.8;
}

.sign-in {
  background-color: #1a73e8;
  padding: 9px 23px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 8px 0 8px;
  letter-spacing: 0.25px;
}

.sign-in:hover,
.sign-in:focus {
  opacity: 0.8;
}

/* Main */

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
  padding-top: 109px;
}
.mic-icon {
  width: 15px;
  height: 20px;
  cursor: pointer;
}

.search-icon {
  width: 15px;
  height: 15px;
}

.main-search {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 44px;
  width: 561px;
  border-radius: 30px;
  border-color: white;
  border: 0.1px solid #ddd;
  margin-bottom: 32px;
  padding: 0 14px 0 14px;
}

.search-bar:hover {
  border-color: white;
  border: 0.1px solid #ddd;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.search-icon {
  width: 15px;
  height: 15px;
}
.input {
  width: 90%;
  font-size: 16px;
  height: 34px;
  outline: none;
  border: none;
}

.mic-icon {
  width: 15px;
  height: 20px;
  cursor: pointer;
}

.main-buttons {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  color: #3c4043;
  padding: 0 16px;
  margin: 0 8px;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

/* Footer */

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fr {
  font-size: 15px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dadce0;
  color: #70757a;
}

.fr p {
  margin: 0;
  padding: 15px 30px;
}

.footer {
  background-color: #f2f2f2;
  /* border: 1px solid #dadce0; */
  /* position: absolute;
  bottom: 0; */
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 0.9rem;
}
.footer-left {
  justify-content: flex-start;

  order: 1;
}

.footer-middle {
  order: 2;
}

.footer-right {
  justify-content: flex-end;
  order: 3;
}

.footer-link {
  padding: 15px;
  color: #70757a;
}

a .footer-link {
  color: #70757a;
}

.leaf-icon {
  width: 12px;
  height: 14px;
}

/* Media queries */

@media (max-width: 660px) {
  .footer {
    flex-direction: column;
    padding: 15px;
  }
  .search-bar {
    width: 449px;
  }
}
@media (max-width: 1350px) {
  .footer-middle {
    order: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
}
@media (max-width: 1200px) {
  .footer {
    justify-content: space-evenly;
    padding: 15px;
  }
}
